<!DOCTYPE html>
<html ng-app="Dating" lang="ru">
<head>
<title>Angular</title>
<script src="../angular.min.js"></script>
<script src="main.js"></script>
</head>
<body>
<div ng-controller="users">
    <div ng-repeat="user in info" ng-show="!user.isGigolo && user.isAdule">
        <h5>{{ user.name }}</h5>
        <p>{{ user.introduction }}</p>
        <p>{{ user.isAdule }}</p>
        <p>{{ user.isGigolo }}</p>
    </div>
</div>








</body>
</html>