<!DOCTYPE html>
<html lang="ru">
<head>
<title>Angular. Lesson 2.</title>
<link rel="stylesheet" href="../css/normalize.css" />
<link rel="stylesheet" href="../css/skeleton.css" />
<link rel="stylesheet" href="../css/main.css" />
</head>
<body ng-app="task2">
<div class="container" ng-controller="heroes">
    <div class="row">
        <button class="g-link" ng-click="currentTab = 1">Label 1</button>
        <button class="g-link" ng-click="currentTab = 2">Label 2</button>
        <button class="g-link" ng-click="currentTab = 3">Label 3</button>
    </div>
    <div class="row">
        <div ng-repeat="hero in heroes" class="g-tab" ng-show="currentTab == $index+1">
            <img ng-src="{{hero.img}}" alt="{{hero.label}}" />
            <h2>{{hero.label | uppercase}}</h2>
            <h3>{{hero.cost | currency:'&euro; '}}</h3>
            <h5>Акция действует с {{hero.dateStart | date : 'yyyy (dd.MM) h:ss a'}} до {{hero.dateEnd | date : 'yyyy (dd.MM) h:ss a'}}</h5>
        </div>
    </div>
</div>
<div class="container" ng-controller="tourOrder">
    <div class="row">
        <h2>Part 2</h2>
        <form name="orderTravel" novalidate ng-submit="submitForm()">
            <label>Имя</label>
            <input type="text" ng-model="orderInfo.name" ng-minlength="2" ng-maxlength="20" required />
            <label>Фамилия</label>
            <input type="text" ng-model="orderInfo.lastname" ng-minlength="2" ng-maxlength="40" required />
            <label>Телефон</label>
            <input type="tel" ng-model="orderInfo.phone" ng-pattern="/[0-9]{11}/" ng-minlength="11" ng-maxlength="11" />
            <label>Ваш комментарий</label>
            <textarea ng-model="orderInfo.message" ng-maxlength="200"></textarea>
            <label>С кем едем ?</label>
            <ul>
                <li ng-repeat="type in types">
                    <input type="radio" name="travelType" ng-model="$parent.orderInfo.travelType" value="{{type.id}}" />{{type.title}}
                </li>
            </ul>
            <label>Список мероприятий</label>
            <ul>
                <li ng-repeat="event in events" ng-show="orderInfo.travelType == event.typeId">
                    <input type="checkbox" name="events" ng-model="$parent.orderInfo.selectedEvents[event.id]" value="{{event.id}}" />{{event.title}}
                </li>
            </ul>
            <select name="bars" ng-show="orderInfo.selectedEvents[25] && orderInfo.travelType == 2" ng-model="orderInfo.selectedBar">
                <option ng-repeat="bar in bars" value="{{bar.title}}">{{bar.title}}</option>
            </select>
            <input type="submit" ng-disabled="!orderTravel.$valid" value="Отправить" />
        </form>
    </div>
</div>
    <!--
    <div class="row">
        <h2>Part 2</h2>
        <form novalidate>
            <label>Имя</label>
            <input type="text" ng-model="orderInfo.name" ng-minlength="2" ng-maxlength="20" required />
            <label>Фамилия</label>
            <input type="text" ng-model="orderInfo.lastname" ng-minlength="2" ng-maxlength="40" required />
            <label>Телефон</label>
            <input type="tel" ng-model="orderInfo.phone" ng-pattern="/[0-9]{11}/" />
            <label>Ваш комментарий</label>
            <textarea ng-model="travelOrder.message" ng-maxlength="200"></textarea><br>
            <input type="radio" ng-model="travelOrder.travelType" value="1" />Еду один
            <input type="radio" ng-model="travelOrder.travelType" value="2" />Еду с женой
            <div ng-repeat="event in events">
                <input type="checkbox" ng-model="travelOrder.events" value="event.id" />{{event.title}}
            </div>
            <!--
            <div ng-repeat="type in types">
                <input type="radio" ng-model="travelOrder.travelType" value="{{type.id}}" /><span>{{type.title}}</span>
            </div>
            <div ng-repeat="event in events">
                <input type="checkbox" ng-model="travelOrder.events" value="{{event.id}}" /><span>{{event.title}}</span>
            </div>
            <input type="submit" value="Добавить" />
        </form>
    </div>
</div>
{{travelOrder}}
-->
<script src="../angular.min.js"></script>
<script src="main.js"></script>
</body>
</html>